<!DOCTYPE html>
<html lang="it"
      xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="css/site2.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
body{
	 background-image:url('img/gettyimages-1278940460-612x612.jpg');
	 background-size: cover;
	 background-position: center;
}
</style>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div>
<nav class="navbar" >
        <a th:href="@{/}">Home</a>
        
        <a th:href="@{/tabella}">Tabella Alimenti</a>
        
        <a th:href="@{/Ricetta}">Crea Ricetta</a>
        
        <a th:href="@{/piano}">Crea Piano Alimentare</a>
        
        <div th:class=" ${mostraTrue} ? 'nascondi' : ''">
        <a th:href="@{/paginaPiani}">Vedi Piani</a>
        </div>
    </nav>
</div >
    <div class="contenitoreReg text-center">
    <form action="/login/accesso" method="post">
    <input class="inputClassReg" type="text" placeholder="Username" name="Username"><br>
        <input class="inputClassReg" type="password" placeholder="Password" name="Password"><br>
       <p th:text="${messaggio}"></p>
       <a href="paginaRegistrazione">Non hai un account? Registrati</a><br>
       
        <input type="submit" value="Accedi">
    </form>
       
    </div>
</body>
</html>